<div class="row">
  <div class="small-8 small-centered large-centered large-6 columns">
    <h1> Admin Login </h1>
    <%= form_for @admin, url: '/sessions', method: 'post' do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %><br>

      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <%= f.submit "Login" , class: "button"%>
    <% end %>
  </div>
</div>

