<div class="row">
  <div class="small-8 small-centered large-centered medium-6 columns">
    <h1 class="top"> Admin Login </h1>
    <%= form_for @admin, url: '/sessions', method: 'post' do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'prop-form' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'prop-form' %><br>

      <div class="row">
        <div class="medium-6 medium-centered small-10 small-centered">
          <%= f.submit "Login" , class: "button cust-btn"%>
        </div>
      </div>

    <% end %>
  </div>
</div>

