<%= form_for @property, url: '/properties/', method: 'post', validate: true do |f| %>
  <fieldset>
    <legend>Property</legend>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.label "Property Address*" %>
        <%= f.text_field :address, required: true, class: "prop-form", placeholder: "Ex: '300 Bush St'" %>
      </div>
      <div class="medium-6 columns">
        <%= f.label "Sub-Market*" %>
        <%= f.select :sub_market, options_for_select([["North Financial"], ["South Financial"], ["SOMA"], ["Mid-Market"], ["Jackson Square"], ["Showplace Square"], [
          "Mission"], ["Potrero"], ["Union Square"], ["North Waterfront"], ["Yerba Buena"]]), {prompt: "Select sub market"}, {required: 'true', class: "prop-form"}%>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.label "Property Type*" %>
        <%= f.select :property_type, options_for_select([["Loft", "loft"], ["Creative", "creative"], ["Traditional", "traditional"]]), {prompt: "Select type of type of space"}, {required: 'true', class: "prop-form"}%>
      </div>

      <div class="medium-6 columns">
        <%= f.label "Square Feet - enter just the number*" %>
        <%= f.number_field :sq_ft, required: true, class: "prop-form", placeholder: "Ex: 1200" %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.label "Price Per Sq Ft*" %>
        <%= f.number_field :rent_price, required: true, class: "prop-form", placeholder: "Ex: 5" %>
      </div>
      <div class="medium-6 columns">
        <%= f.label "Available Date*" %>
        <%= f.date_field :available, class: "date prop-form", value: Date.today.to_s %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.label "Minumum Lease Term" %>
        <%= f.number_field :min, class: "prop-form", placeholder: "Ex: '12'" %>
      </div>
      <div class="medium-6 columns">
        <%= f.label "Maximum Lease Term" %>
        <%= f.number_field :max, class: "prop-form", placeholder: "Ex: '24'" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= f.label :description %>
        <%= f.text_area :description, class: "prop-form", placeholder: "Enter a basic description for the user" %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.label "Add an image" %>
        <%= f.uploadcare_multiple_uploader_field :image_url %>
        <p class="legal">*Photos, flyers, & floor plans only, and must be your own.</p>
      </div>
    </div><br>
    
    <%= f.hidden_field :lead_id, :value => @lead.id %>
    <%= f.hidden_field :broker_id, :value => @broker %>
    
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= f.submit "Submit" , class: "button cust-btn"%>
      </div>
    </div>
  </fieldset>
<% end %>