<div class="row">
  <div class="small-12 large-10 large-centered columns">
    <div class="lead-header" id="lead-response">
    	<h1 class="lead-header top">Respond to Lead</h1>
      <p><strong>Desired Market:</strong> <%= @lead.q_one %>, <strong># of people:</strong> <%= @lead.q_two %>, <strong>Vibe:</strong> <%= @lead.q_three %>, <strong>Date:</strong> <%= @lead.q_four %>, <strong>Term length:</strong> <%= @lead.q_five%>, <strong>Notes:</strong> <%= @lead.q_six %></p>
    	<h2>Properties you've submitted before</h2>
      <%= render 'previous_properties' %>
      <div class="row">
        <div class="small-12 large-10 large-centered columns">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>