<div class="row">
  <div class="small-12 small-centered large-centered large-8 columns">
    <h1>New Lead</h1>
    <div id="leadInfo">
      <p><strong>Desired Market:</strong> <%= @lead.q_one %>, <strong># of people:</strong> <%= @lead.q_two %>, <strong>Vibe:</strong> <%= @lead.q_three %>, <strong>Date:</strong> <%= @lead.q_four %>, <strong>Notes:</strong> <%= @lead.q_five %></p>
    </div>
    <%= render 'form' %>  
  </div>
</div>