<div class="row">
  <div class="small-12 large-10 large-centered columns">
    <h1 class="lead-header">Respond to Lead</h1>
    <div class="lead-header">
      <p><strong>Desired Market:</strong> <%= @lead.q_one %>, <strong># of people:</strong> <%= @lead.q_two %>, <strong>Vibe:</strong> <%= @lead.q_three %>, <strong>Date:</strong> <%= @lead.q_four %>, <strong>Notes:</strong> <%= @lead.q_five %></p>
    </div>
    <%= render 'form' %>  
  </div>
</div>