<div id="home-page">
  <div id="top-container">
    <div class="row" id="head-text">
      <div class="small-12 large-centered columns">
        <h1 id="title">Hi, I'm James</h1>
        <h2 id="subtitle">Your personal office search concierge, just a text away.</h2>
      </div>
    </div>

    <div class="row logo">
      <div class="small-12 large-5 medium-6 small-centered medium-centered large-centered columns">
        <%= image_tag "james_logo_lg.png", class: "james-logo" %>
      </div>
    </div>

    <div class="row number-con">
      <div class="small-12 medium-8 medium-centered columns">
        <div id="number-container">
          <h4 id="phone"><%= image_tag 'iphone_icon.svg', class: "phone_icon" %> (415) 801-0226</h4>
          <h4 id="text-cta">Text me your name to find your next office!</h4>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="hiw-container">
    <div class="row">
      <div class="small-12 large-8 large-centered columns">
        <h4 class="container-head">What is James?</h4>
        <div id="hiw">
          <p class="hiw">James is a personalized SMS commercial real estate finder.</p>
          <p class="hiw">To start, text your name to <span class="num-emphasis">(415) 801-0226</span>. James will respond with a series of questions to understand what kind of space you're looking for. James will notify our amazing brokers with the info provided. You'll receive a text with information as soon as a match is found. If you see an intriguing space, let us know and we'll connect you directly with the broker who suggested it!</p>
        </div>
      </div>    
    </div>
  </div>
  <div id="examples-container">
    <div class="row">
      <div class="small-12 large-12 large-centered columns">
        <ul class="small-block-grid-3">
          <li><%= image_tag("iphone_intro_sms.svg") %></li>
          <li><%= image_tag("iphone_complete_qs.svg") %></li>
          <li><%= image_tag("iphone_response.svg") %></li>
      </div>
    </div>
  </div>
  <div id="extra-cta">
    <div class="row">
      <div class="small-12 large-10 large-centered columns">
        <h4 class="extra-cta">Text me your name to get started!</h4>
        <h4 class="extra-cta">(415) 801-0226</h4>
      </div>
    </div>
  </div>
  <div id="james-faq">
    <div class="row">
      <div class="small-12 large-10 large-centered columns">
        <h4 class="container-head">James FAQ</h4>
        <p class="faq-q">Is it free?</p>
        <p class="faq-a">Yep! The service James offers is completely free. It's our goal to provide you with a fast, personalized service for finding your next office space. Please note that standard text messaging and data rates may apply per your wireless carriers terms of service.</p>
        <p class="faq-q">Who are the brokers behind James?</p>
        <p class="faq-a">James is currently in beta with a small team of amazing hand picked brokers in San Francisco. We aim to grow the list of brokers in the future to ensure that you find the right broker and right space for your company's needs, but rest assured our brokers will always be hand selected.</p>
        <p class="faq-q">Where is James available?</p>
        <p class="faq-a">James is currently only available in San Francisco, but we hope to expand to other cities soon!</p>
        <p class="faq-q">Am I committed to talk to a broker?</p>
        <p class="faq-a">Think of James as your personal office search conceriege. We'll show you what our brokers have available, and keep your information anonymous. It's completely up to you if you want to talk directly to the broker or set up a tour.</p>
        <p class="faq-q">Can I schedule a tour?</p>
        <p class="faq-a">Once you find the perfect office space that meets your every need, James will help facilitate scheduling a tour with the broker. After receiving the brokers information, James will send you a follow up text including three 30 minute time slots when the broker is available. Simply reply to a time that works for you, and add it to your calendar! </p>
      </div>
    </div>
  </div>
  <div id="about-james">
    <div class="row">
      <div class="small-12 large-10 large-centered columns">
        <h4 class="container-head">About James</h4>
        <p>James was founded with the belief that finding the perfect office space should be fast, easy and fun. James is backed by leading commercial real estate professionals looking to innovate and drive commercial real estate into the 21st century.<p>
      </div>
    </div>
  </div>  
</div>
