<div id="top-container">
  <div class="row" id="head-text">
    <div class="small-12 large-centered columns">
      <h1 id="title">Hi, I'm James</h1>
      <h2 id="subtitle">Your personal office search concierge, just a text away.</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 medium-8 small-centered medium-centered large-centered columns">
      <%= image_tag "james_logo_lg.png", class: "james-logo" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 large-centered columns">
      <div id="number-container">
        <h4 id="phone"><%= image_tag 'iphone_icon.svg', class: "phone_icon" %> +1 (415) 801-0226</h4>
        <h4 id="text-cta">Text me to find your next office!</h4>
      </div>
    </div>
  </div>
</div>
<div id="hiw-container">
  <div class="row">
    <div class="small-12 large-8 large-centered columns">
      <h4 class="container-head">What is James?</h4>
      <div id="hiw">
        <p class="hiw">James is a personalized SMS commercial real estate finder.</p>
        <p class="hiw">To start, text your name to <span class="num-emphasis">(415) 801-0226</span>. James will respond with a series of questions to understand what kind of space you're looking for. James will notify our amazing brokers with the info provided. You'll receive a text with information as soon as a match is found. If you see an intriguing space, let us know and we'll connect you directly with the broker who suggested it!</p>
      </div>
    </div>    
  </div>
</div>
<div id="examples-container">
  <div class="row">
    <div class="small-12 large-12 large-centered columns">
      <ul class="small-block-grid-3">
        <li><%= image_tag("iphone_intro_sms.svg") %></li>
        <li><%= image_tag("iphone_complete_qs.svg") %></li>
        <li><%= image_tag("iphone_response") %></li>
    </div>
  </div>
</div>
<div id="extra-cta">
  <div class="row">
    <div class="small-12 large-6 large-centered columns">
      <h4 class="extra-cta">Text me your name to get started!</h4>
      <h4 class="extra-cta">(415) 801-0226</h4>
    </div>
  </div>
</div>
<div id="james-faq">
  <div class="row">
    <div class="small-12 large-10 large-centered columns">
      <h4 class="container-head">James FAQ</h4>
      <p class="faq-q">Is it free?</p>
      <p class="faq-a">Yep! James is completely free. It's our goal to provide you with a fast, personalized service for finding your next office space.</p>
      <p class="faq-q">Who are the brokers behind James?</p>
      <p class="faq-a">James is currently in beta with a small team of amazing brokers at Jones Lang LaSalle in San Francisco. We aim to grow the list of brokers in the future to ensure that you find the right broker and right space for your company's needs.</p>
      <p class="faq-q">Where is James available?</p>
      <p class="faq-a">James is currently only available in San Francisco, but we hope to expand to other cities soon!</p>
      <p class="faq-q">Am I committed to talk to a broker?</p>
      <p class="faq-a">Think of James as your office search conceriege. We'll show you what our brokers have available, but it's completely up to you if you want to talk to the broker.</p>
    </div>
  </div>
</div>
<div id="about-james">
  <div class="row">
    <div class="small-12 large-10 large-centered columns">
      <h4 class="container-head">About James</h4>
      <p>James was founded with the belief that finding the perfect office space should be fast, easy and fun. James was founded by Alex Lassar, a Commercial Real Estate broker at Jones Lang LaSalle (JLL), and originally was conveiced as a personalized commercial real estate news letter.<p>

      <p>After iterating on the concept, Alex approached Andreas Bloomquist, a full stack tech guru, to revamp James into a personalized SMS service. And with that James 2.0 was born!</p>
    </div>
  </div>
</div>