<div class="row">
  <div class="large-8 large-centered columns">
    <h1 class="broker-check top">Add tour to your calendar</h1>
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered columns">
    <p><strong>Tenant:</strong> <%= @appointment.lead.user.name %> | <strong>Broker:</strong> <%= @appointment.broker.first_name %></p>
    <p><strong>Property:</strong> <%= @appointment.property.address %> | <strong>Sq Ft:</strong> <%= @appointment.property.sq_ft %></p>
    <p><strong>Tour:</strong> <%= @appointment_time.strftime('%m/%d/%y %l:%M%P') %></p>
  
    <% if @appointment.notes %>
      <p><strong>Notes:</strong> <%= @appointment.notes %></p>
    <% end %>

  </div>
</div>
<div class="row"><br>
  <div class="medium-3 medium-centered small-10 small-centered columns">
  <div title="Add to Calendar" class="addthisevent button cust-btn">
      Add to Calendar
      <span class="start"><%= @appointment_time.strftime('%m/%d/%y %l:%M%P') %></span>
      <span class="end"><%= @appointment_time.strftime('%m/%d/%y %l:%M%P') %></span>
      <span class="timezone">America/Los_Angeles</span>
      <span class="title">Tour <%= @appointment.property.address %> with <%= @appointment.broker.first_name %></span>
      <span class="description">
        <strong>Property Details</strong>
        Address: <%= @appointment.property.address %>
        Sub Market: <%= @appointment.property.sub_market %>
        Property Type:  <%= @appointment.property.property_type %>
        Sq Ft: <%= @appointment.property.sq_ft %>
        Available: <%= @appointment.property.available.strftime("%m/%d/%y") %>
        Description: <%= @appointment.property.description %>
        
        <strong>Special notes about the tour</strong>
          <%= @appointment.notes %>
      </span>
      <span class="location"><%= @appointment.property.address %></span>
      <span class="date_format">MM/DD/YYYY</span>
    </div>
  </div>
</div>