<nav>
	<% if logged_in? %>
		<%= link_to "Admin", admin_path %> |
		<%= link_to "Brokers", brokers_path %>
		|
		<%= link_to "New Broker", new_broker_path %>
		|
		<%= link_to "Logout", logout_path %>
		|
	<% else %>
		<%= link_to "Login", login_path %> |
	<% end %>
</nav>
